# LaTeX build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.bbl
*.blg

# macOS metadata files
.DS_Store
._*

# Optional: Ignore other macOS-specific files
*.DS_Store
# Obsidian system files
.json
.js
.css
.obsidian/